# Ignore all Python virtual environments
*.egg
*.egg-info
dist
build

# Ignore local configuration files
.env
.env.local

# Ignore logs
logs

# Ignore pycache files
__pycache__/

# Ignore tox and pytest
.tox
.cache
nosetests.xml
coverage.xml
*.cover
*.py[cod]
*.pyo
.pytest_cache

# Ignore IDE files
.vscode
.venv
.env.local
.pytest_cache
